    <!-- Bottom Navigation -->
    <div class="bottom-nav">
        <div class="nav-item">
            <a href="{{ url_for('home') }}">
                <div class="nav-icon nav-home">
                    <img src="https://img.icons8.com/ios-filled/50/000000/home.png" alt="Home Icon" />
                </div>
                <span>Home</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="{{ url_for('view_favorites') }}">
                <div class="nav-icon nav-favorites">
                    <img src="https://img.icons8.com/ios-filled/50/000000/star--v1.png" alt="Favorites Icon" />
                </div>
                <span>Favorites</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="{{ url_for('view_cart') }}">
                <div class="nav-icon nav-cart">
                    <img src="https://img.icons8.com/ios-filled/50/000000/shopping-cart.png" alt="Cart Icon" />
                </div>
                <span>Cart</span>
            </a>
        </div>
    </div>

    <style>
        .bottom-nav {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa;
            box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
            z-index: 1000;
        }
        .nav-item {
            flex-grow: 1;
            text-align: center;
        }
        .nav-item a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .nav-icon {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
        }
        .nav-item img {
            width: 30px;
            height: 30px;
        }
        .nav-item span {
            font-size: 14px;
        }
        .nav-item a:hover .nav-icon {
            background-color: #d4d4d4;
        }
    </style>
